<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movieMart-Explore Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body style="background-color: grey;">

    <header data-bs-theme="dark">
        <div class="collapse text-bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4>Greetings!!</h4>
                        <p class="text-body-secondary">Welcome TO Your Own movieMart - A place where you will find
                            movies according to your mood.<br />It is totally a free source of watching movies.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">

                        <ul class="list-unstyled">
                            <li><a href="/signup" class="text-white">
                                    <h3 style="font-family: 'Caveat', cursive; font-size: larger; font-size:30px"
                                        class="btn btn-outline-info my-2 mx-3">Signup</h3>
                                </a></li>
                            <li><a href="/login" class="text-white">
                                    <h3 style="font-family: 'Caveat', cursive; font-size: larger; font-size:30px"
                                        class="btn btn-outline-warning my-2 mx-3">Login</h3>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>moviesMart 🎬</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 style="font-family: 'Tilt Prism', cursive;color:navy;" class="fw-light">Find Movies According To
                        Your Mood🍿</h1>
                    <p class="lead text-body-secondary">If you are planning to watch latest movie in your city, don't
                        look any further.Now it is easy to watch movie at movieMart.<br />If you have been eagerly
                        waiting for a movie that you can watch with your friends and family ,Now you know from where to
                        watch. </p>
                </div>
            </div>
        </section>
           
        <div class="album py-5 bg-body-tertiary">
            
                <div class="container">
                    <div class="con"><h1 style="color:#064663;font-family: 'Satisfy', cursive;
                        ">Recommended Movies</h1></div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://m.media-amazon.com/images/M/MV5BZmI2MzE5ZmQtNDAzZi00NWQ1LWFkZDUtNmU5YjI5ODY4NDVjXkEyXkFqcGdeQXVyNDQ2NzU0MjQ@._V1_.jpg"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">
                                <div style="margin-left: 150px;color:#3AA6B9;">
                                </div>
                            </text></img>
                            <div class="card-body">
                                <p class="card-text">King Azad gets locked in a dungeon by the British general Dyer who
                                    wants to take over his kingdom. Years later, Azad's son decides to put an end to
                                    Dyer's tyranny and comes to his father's rescue.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 6.2/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Romance/Action/Drama</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">22.9k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://images.hungama.com/c/1/c5f/e58/2561305/2561305_1280x800.jpg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">
                                <div style="margin-left: 150px;color:#3AA6B9;">
                                </div>
                            </text></img>
                            <div class="card-body">
                                <p class="card-text">Ramkishen and Mamta have three sons Vivek , Prem and Vinod and a
                                    daughter Sangeeta. This family is part of a joint family whose close knit bond is
                                    challenged by a misunderstanding.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 6.3/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Musical/Drama</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">30k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://m.media-amazon.com/images/M/MV5BNmJlYThiODEtNTRiOS00NGY2LWI5NzMtZjE4NzUyMjcxNzU2XkEyXkFqcGdeQXVyOTA3MTM0MTM@._V1_.jpg"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Poonam, a traditionally brought-up young woman, is to marry Prem.
                                    Poonam and Prem's faith and love are to be tested , when an accident occurs and
                                    Poonam might be scarred for life.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 6.6/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Musical</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">10k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://images.hungama.com/c/1/501/533/2561313/2561313_1280x800.jpg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Prem and Nisha meet and fall in love at the wedding of their elder
                                    siblings, but their plans to be together are put in jeopardy when Nisha's sister
                                    dies, leaving behind a baby.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 7.5/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Musical/Comedy</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">22k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://images.ottplay.com/images/dhoom-184.jpg?impolicy=ottplay-20210210&width=1200&height=675"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">A mysterious gang of bikers is on a robbing spree. ACP Jai gets
                                    Ali, a mechanic, to assist him in the case. With the clock ticking, it's up to them
                                    to nab the thieves red-handed.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 6.6/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Action/Crime</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">21k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://is2-ssl.mzstatic.com/image/thumb/Music128/v4/e5/5a/7d/e55a7de2-6854-cb33-d0c4-e6df703c2ea5/191773207656.jpg/1200x1200bf-60.jpg"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Suman falls in love with Prem who is son of her father's friend.
                                    However, in order to for them to marry, Prem has to prove to Suman's father that he
                                    is not the same as his own dad.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 7.3/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Musical/Romance</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">14k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://i.ytimg.com/vi/AuuX2j14NBg/maxresdefault.jpg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">It's a promising murder mystery .The story revolves around the
                                    fourth-standard school drop-out Vijay Salgaonkar who run a television cable business
                                    and lives in Goa with his wife Nandini and their two daughters.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 8.2/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Crime/Mystery</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">89k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://i.ytimg.com/vi/7oiVvh8fJwI/maxresdefault.jpg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    When a dynastic struggle between the collateral branches of the Kuru clan, the
                                    Kauravas and Pandavas lead them to the threshold of war, Lord Krishna decides to
                                    step in and take control of the situation.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 9.0/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Adventure/History</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">21k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://occ-0-778-32.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABZhymgRM-fNxNDTCA9oSBblGKh4JxYiGewpTSqvpkvNCDZKzJReSB_qmR3851erXvJMWywIYi_8uLvPu03JKgicHhaVclprLChYh.jpg?r=858"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    A dynamic young entrepreneur finds herself locked in a hotel room with the corpse of
                                    her dead lover. She hires a prestigious lawyer to defend her and they work together
                                    to figure out what actually happened.It's a suspense based thriller movie.
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 7.8/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Crime/Mystery</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">29k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://hips.hearstapps.com/vidthumb/images/teen-wolf-movie-1632784362.png?crop=1.00xw:1.00xh;0,0"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    An average high school student and his best friend get caught up in some trouble
                                    causing him to receive a werewolf bite. As a result they find themselves in the
                                    middle of all sorts of dramas in Beacon Hills.
                                    He also falls in love with one of her classmate .
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 7.7/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Action/Fantasy</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">156k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://i.ytimg.com/vi/vx281A2V52k/maxresdefault.jpg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    An innocent young lecturer is misunderstood as a pervert and despised by a woman who
                                    co-incidentally turns out to be the younger sister of his brother-in-law. Eventually
                                    differences subside and love blooms between them.
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 7.7/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Drama/Comedy/Romance</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">15k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://qqcdnpictest.mxplay.com/pic/7d49fc323cfb12a324792e69f33e95e5/en/16x9/640x360/test_pic1538129331134.jpg"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Baburao, Raju and Shyam are living happily after having risen from
                                    rags to riches. Still, money brings the joy of riches and with it the greed to make
                                    more money. And so, with a don as an unknowing investor, Raju initiates a new game.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                                            <h6>⭐️ 7.2/10</h6>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <h6>Comedy/Crime</h6>
                                        </button>
                                    </div>
                                    <small class="text-body-secondary">26k Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="bg-body-tertiary p-5 rounded mt-3">
                <i><h1 style="color:
                    #1F6E8C;font-family: 'Shadows Into Light', cursive;
                    ">Let's Go With The Flow.......</h1></i>
                <p class="lead">Register Yourself To Watch Our Latest Collection Of Movies In High Definition View.</p>
                <a class="btn btn-lg btn-secondary" href="/signup" role="button">SignMe Up »</a>
            
        </div>
        </div>

    </main>

    <footer class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <input class="btn btn-outline-info my-2 mx-3" type="button" onclick="window.location.href='/'"
                    value="Back to Top🔝" />
            </p>
            <h4 class="mb-1">movieMart🎥 © 2023-24 <span>
                    <h4 style="color:yellow">Made With ❤️ By <span><strong><em>Neeraj Chanchlani</em></strong></span>
                    </h4>
                </span> </h4>
        </div>
    </footer>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>